 html, body, #map-id {
                margin: 0;
                width: 100%;
                height: 100%;
            }


.SearchButton2 {
    position: absolute;
    top: 150px;
    left: 0px;
    width: 20em;
    font-family: sans-serif;
    font-weight: bold;
    margin-top: 3px;
    margin-left: 3px;
    margin-bottom: 3px;
    font-size: smaller;
    color: white;
    background-color: transparent;
}


#TaskButtons {
                position: absolute;
                top: 18em;
                left: 0.5em;
                width: 25px;
                z-index: 20000;
                background-color: transparent;
                padding: 0 0.5em 0.5em 0.5em;
                }
 
.ImageTask{
	width: 25px;
    heigth: 25px;
    cursor: pointer;
	
}

.ImageTask:hover
{
	width: 28px;
    heigth: 28px;
}

.SliderContainer{
	            min-width: 80px;
                min-height:15px;
                padding:0px;
               
}
/* Comment here 
*/
.SliderContainer input:nth-child(1){ 
    position: absolute;
}

input{
	z-index:0; 
}
/*
.SliderContainer input:first-child { 
    z-index:;   
}

.MinSlider:hover{
	z-index:0; 
}

.MaxSlider:hover{
	z-index:0; 
}

.MaxSlider{
	z-index:-1; 
}
.MinSlider{
	z-index:0; 
}*/

.BasicWindow {
				opacity:0.7;
                position: absolute;
                top: 10em;
                left: 2.8em;
                min-width: 100px;
                min-height:100px;
                z-index: 20000;
                background-color: #94a1a8;
                padding: 0 0.5em 0.5em 0.5em;
                border-radius: 15px;

                }


.BasicWindow:hover{
	opacity:0.9;
}

.CloseWindow{
	float:right;
	top: 0.2em;
	right: 0.2px;
	width: 15px;
    heigth: 15px;
    cursor: pointer;
}

.TitleWindow{
	font-family: sans-serif;
    font-weight: bold;
    color: white;
    font-size: medium;
}
.LabelWindow{
	font-family: sans-serif;
    font-weight: bold;
    color: gray;
    font-size: 12px;
}
.InputLogin{
		width:75px;
		display:block;
		border: 1px solid #999;
		border-radius: 10px;
		overflow:auto;
		padding:2px 2x 2px;
}

.SelectList{
	float:rigth;
	rigth: 0em;
	border-radius: 5px;
	overflow:auto;
	background-color: #94a1a8;
	border-style:solid;
	border-color:#FEFDFD;
	padding:3px;
}

.RangeText{
	font-family: sans-serif;
    font-weight: bold;
    color: white;
    font-size: 8px;
    padding:3px;
}
.MinBox ,.MaxBox{
		width:60px;
		border-radius: 5px;
		background-color: #94a1a8;
		border-style:solid;
		border-color:#FEFDFD;
		padding:3px;
		font-size: 10px;
}


.MinSlider {
	display: none;
}




